body {
    font-family: 'Space Mono', monospace;
}

.head {
    text-shadow: 4px 4px 4px #aaa;
}

h1 {
    font-family: 'Cormorant', serif;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0 !important;
    padding-top: 30px;
}

.title {
    font-size: 4.5em;
}
h3 {
    font-weight:bold;
    font-size: 1.2em;
    max-width: inherit;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;

}

#logo-s {
    /*display: inline;*/
    visibility: hidden;
    position: absolute ;
    z-index: -9999999;
    color: #FFFFFF;
}


.navbar-inverse {
    background-color: #782636;
}

#about {
    background-color: #F7F2F6;
    margin-bottom: 0;
}

#films {
    background-color: #FDF8F9;
    margin-top: 0 !important;
    margin-bottom: 0!important;
}

#reg {
    background-color: #F7F5F9;
    margin-top: 0!important;
    margin-bottom: 0 !important;
    padding-bottom: 20px;
}

#news {
    background-color:#FDF8F9 ;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 30px;
    padding-bottom: 15px;
}

footer {
    background-color: #EBA1B0;
    margin-top: 0 !important;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
}

footer a {
    color: #782636;
    padding-left: 0!important;
}

.navsize-d a {
}

.navsize-d {
    font-size: small;
}

.socials {
    padding-left: 60px;
    padding-top: 15px;
}




.btn-imdb {
    margin-top: 15px;
    background-color:#F7F5F9 !important; ;
}

.navigation .navbar-brand {
    height: 90px;
}

.navigation .nav li a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    margin-bottom: 0px;
}

.nav {
    margin-top: 5px;
}

#about {
    margin-top: 90px;
}
.btn-info, .btn-secondary, .btn-secondary:hover, .btn-secondary:visited, .btn-secondary:active .btn-info:hover, .btn-info:active, .btn-info:visited {
    border-radius: 20%;
    background-color:#782636 !important;
    color: #FFFFFF;
}

.modal-header {
    background-color: #AD7BA2;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
}

.modal-footer {
    background-color:#FDF8F9 ;
    border-radius:0 0 5px 5px;
}

.date {
    display: none;
}

#modalDate {
    font-weight: bold;
}

hr {
    border-color: #782636;
    background-color:#782636 ;
}

.sub {
    margin: 0;
    font-style: italic;
    font-size: 0.9em;
}

.nomargin {
    margin: 0;
}

.btn-group {
    margin-top: 20px;
}


#news , #reg , #films {
    margin-top: 30px;
    margin-bottom: 15px;
}

/*Changing navbar on scroll*/
.transparent {
    background-color: rgba(120, 38, 54,0.8);
}

.navsize-u {
    font-size: large;
}

#logo {
    padding-top: 5px;
}

#reg img {
    border-radius: 10px;
}

/*News Items*/
.news-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
    padding-right: 0;
    padding-left: 0;
    font-size: small;
}

.news-item img {
    height: 300px;
    border-radius: 10px;
    border: 3px solid #FDF8F9 ;
    padding: 2px;
    margin: 0 auto;
}

.news-img {
    text-align: center;
}

/*Customized Scroll*/

.wrapper {
    overflow-y: auto;
    background: #FDF8F9;
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    /*padding: 5px 5px 5px 15px;*/
}

.wrapper::-webkit-scrollbar{
    width: 18px;
    border-radius: 20px;
}

.wrapper::-webkit-scrollbar-track{
    background: #F7F5F9;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    width: 24px;
    background: #782636;
    border: 5px solid #F7F5F9;
    border-radius: 15px;
}

/*Adjusting Menu click*/
a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

.text-section {
    height: 200px;
    overflow: hidden;
}

/*Elipsis on Thumbnails*/

.para {
    width: 233px;
    position: relative;
}

.smart-overflow {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.smart-overflow a.ellipsis-link {
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 0.7em;
    height: 0.9em;
    cursor: pointer;
    background-color: rgba(245, 218, 223, 0.8) ;
    border-radius: 10px;
}

/*--------------*/

.thumbnail-size {
    height: 700px;
    margin-top: 20px;
}

@media screen and (max-width: 991px) {
    #logo {
        display: none;
    }
    #logo-s {
        display: none;
    }
}

